@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800&display=swap');
::selection{
    background-color:rgb(240, 155, 207);
    color: white;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato','Playfair Display', sans-serif;
}
.side-navbar{
    position: fixed;
    width: 100px;
    height: 100%;
    z-index: 2;
    background-color: white;
    padding-top: 20px;
}
.menu{
    flex: 1;   
}
.menu .menu-icon .line:last-child{
    width: 15px;
    transform: translateX(10px);
}
.menu:hover .line:last-child{
    width: 25px;
    transition: 0.5s;
    transform: translateX(0);
}
.menu.open .line:nth-child(2){
    transform: translateX(-50px);
    background: transparent;
}
.menu.open .line:first-child{
    transform: rotate(45deg) translate(5px,5px);
}
.menu.open .line:last-child{
    width: 25px;
    transform: translateX(10px);
    transform: rotate(-45deg) translate(5px,-5px);
}
.menu .menu-icon .line{
    width:25px;
    height: 2px;
    margin-bottom: 5px;
    background-color: black;
    transition: ease-in-out 0.3s;
}
.img-gallery,.blog{
    padding-left: 100px;
}

.side-navbar .menu h5{
    font-size: 12px;
    font-weight: bold;
}
.side-navbar .menu a{
    text-decoration: none;
    color: black;
}
.side-navbar .menu .menu-icon{
    padding: 20px;
    display: block;
}

.overlay{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    background-color: #FEFBFA;
    overflow-y: hidden;
    opacity: 0.9;
    transition: 0.5s;
    display: block;
}
#myNav{
    display: none;
}
.overlay .overlay-menu{
    margin-top: 100px;
}
.menu-bar .logo img{
    width: 200px;
}
.menu-bar .search-bar{
    border: 1px solid rgb(216, 214, 214);
    border-radius: 50px;
    height: 60px;
}
.menu-bar .search-bar .fas{
    right: 60px;
    position: absolute;
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.menu-bar .search-bar input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-left: 30px;
    background: none;
    width: 80%;
}
.no-outline{
    outline: none;
}
.hover-menu{
    margin: 30px auto;
}
.hover-menu ul li{
    line-height: 30px;
    font-weight: 500;
    list-style: none;
}
.hover-menu h4{
    font-weight: bold;
}
.hover-menu ul a{
    color: black;
    text-decoration: none;
}
.hover-footer{
    margin: 30px auto;
}
.slogan{
    transform-origin: bottom;
    flex: 3;
}
.sidebar-footer{
    flex: 2;
}
.side-navbar .slogan p{
    writing-mode: vertical-rl;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    transform: rotate(-180deg); 
}
.sidebar-footer .social-media .fab{
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
}
.side-navbar .menu,.side-navbar .slogan,.side-navbar .sidebar-footer,.headline-btn,.brow-main h5,.gallery .gallery-category .category p{
    text-align: center;
    text-transform: uppercase;
}
.right-menu{
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 2;
}

.right-menu .icons {
    margin-right: -150px;
}

.right-menu .icons:hover + .icons{
    margin-right: 0;
    transition: 0.5s;
}
.right-menu .icons i{ 
    height: 50px;
    width: 50px;
}
.right-menu .icons .icon-menu{
    width: 150px;
    color: white;
    height: 50px;
}
.right-menu .icons #first{
    background-color: #2B3244;
}
.right-menu .icons #second{
    background-color: #BC2B44;
}
.right-menu .icons #third{
    background-color: #5D9895;
}
.right-menu .icons #fourth{
    background-color: #95B5A9;
}
.right-menu .icons .icon-menu p{
    margin: 0;
}
.right-menu .icons a{
    text-decoration: none;
    color: white;
}
.right-menu .icons:hover{
    cursor: pointer;
}
.right-menu .icons .icons-txt{
    visibility: hidden;
    position: absolute;
    height: 50px;
    width: 200px;
    padding: 20px;
    background-color: red;
}
.right-menu .icons:nth-child(1){
    background-color: rgb(61, 58, 58);
}
.right-menu .icons:nth-child(2){
    background-color: #F73859;
}
.right-menu .icons:nth-child(3){
    background-color: rgb(106, 197, 209);
}
.right-menu .icons:nth-child(4){
    background-color: rgb(42, 188, 214);
}
header{
    background: url(../img/headline.jpg) no-repeat;
    height: 150vh;
    width: 100%;
    padding-right: 50px;
    background-size: 130%;
    position: relative;
    background-position: center top;
}
header .header-menu{
    position: absolute;
    width: 100%;
    padding: 40px 60px 0 100px;
}
header .header-content{
    position: absolute;
}
header .header-menu .info{
    width: 50%;
    font-weight: bold;
}
header .header-menu .logo img{
    margin-left: 10px;
}
header .header-menu .info h3{
    color: rgb(124, 209, 243);
}
header .header-content .slider-img{
    margin-top: 30%;
    margin-right: 10px;
}
.headline-btn{
    padding: 10px 40px;
    border-radius: 60px;
    background-color: rgb(240, 155, 207);
    color: white;
    font-weight: bold;
    border-color: transparent;
    margin-left: 20px;
    font-size: 15px;
}
.headline-btn:hover{
    background: white;
    color: black;
    border:1px solid rgb(240, 155, 207);
    transition: ease-in 0.5s;
}
header .header-content .headline-txt{
    margin: 50px auto;
    margin-left: 20%;
    font-size: 18px;
    line-height: 30px;
    text-align: end;
}
.brow-main{
    text-align: center;
    margin-top: 50px;
}
.brow-main h5, .brow-main h1{
    font-weight: bold;
}
.brow-main h5{
    font-size: 18px;
    color:rgb(240, 155, 207);
}
.brow-main p{
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
}
.brow-main button{
    margin: 40px 0 80px 0;
}
.feature .cover .cover1 img{
    height: 600px;
    width: 100%;
    object-fit: cover;
}
header2 .feature .cover .cover2{
    background: url(../img/bg_home_03.jpg);
    background-size: 100%;
    height: 60vh;
    width: 100%;
}
header2 .feature .cover .cover2 .row{
    padding-top: 40px;
}
.feature-img{
    margin-top: 10px;
    padding-left: 28px;
}
header2 .feature .cover .cover2 .feature-content h4,.blog h4{
    font-size: 30px;
    text-transform: capitalize;
}
header2 .feature .feature-btn{
    margin-top: 40px;
}

.gallery{
    margin: 100px 0 35px 0;
}
.gallery p{
    margin-bottom: 0;
}

.gallery h5,.testimonials .testimonial-headline h5,.services .services-headline h5{
    text-transform: uppercase;
    font-size: 18px;
    color:rgb(240, 155, 207);
    font-weight: bold;
}
.gallery  h1, .testimonials .testimonial-headline h1,.services .services-headline h1{
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
}
.gallery .gallery-category{
    margin-top: 25px;
}
.gallery .gallery-category .category p{
    font-weight: bold;
    letter-spacing: 2px;
}
.gallery .gallery-category .category p:hover,.gallery .gallery-category .category .active,.testimonials .testimonial-headline .testimonial-content h5,.services .services-grid p,.blog .blog-grid .blog-content a:hover,.footer .footer-icons a:hover,.side-navbar .sidebar-footer .social-media .fab:hover,.footer .footer-details ul a:hover,.menu-bar a:hover,.hover-menu a:hover,.hover-menu ul .active{
    color: rgb(240, 155, 207);
}
.gallery img,.testimonials .testimonial-headline img,.services .services-headline img{
    margin: 20px auto;
}
.gallery .gallery-category .category a{
    text-decoration: none;
    margin-right: 30px;
    color: #202020;
}
.achievements{
    height: 200px;
    background-color: #F4F6FA;
}
.achievements img{
    padding: 10px;
}
.achievements h1{
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 10px;
}
.achievements .row{
    margin: 0;
}
.achievements h5,.testimonials .testimonial-headline h1,.testimonials .testimonial-grid .client-info h5,.img-gallery .gallery-grid .gallery-txt h4,.services .services-grid h4,.footer .footer-details ul li,.footer h4,.hover-menu ul li,.hover-footer p,.right-menu .icons .icon-menu{
    text-transform: capitalize;
}
.achievements .achievements-grid{
    padding-top: 50px;
}

.img-gallery .gallery-grid{
    position: relative;
}

.img-gallery .gallery-grid .gallery-txt{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #a7edf4, #85dfff, #80ccff, #a0b2ff, #cd92f2);
    visibility: hidden;
    padding: 20px;
    text-align: center;
}
.img-gallery .gallery-grid:hover .gallery-txt{
    visibility: visible;
    cursor: pointer;
    opacity: 0.95;
}
.img-gallery .gallery-grid .gallery-txt a{
    text-decoration: none;
    color: white;
}
.img-gallery .gallery-grid .gallery-txt h4{
    font-weight: bold;
    font-size: 30px;
}
.img-gallery .gallery-grid i{
    margin-right: 10px;
}
.testimonials .testimonial-grid .client-info h6,.img-gallery .gallery-grid span,.services .services-grid p,.hover-menu h4{
    text-transform: uppercase;
}
.testimonials{
    margin-top: 50px;
}
.testimonials p,.achievements .achievements-grid h5,.gallery p,.feature .cover .cover2 p, header .brow-main p, header .info p, header .header-content .headline-txt p,.footer p,.footer span,.side-navbar .sidebar-footer .social-media .fab{
    color: #616A72;
}
.testimonials .testimonial-grid .client-info h6{
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
}
.testimonials .testimonial-grid .testimonial-img img{
    border-radius: 50%;
}
.testimonials .testimonial-grid .testimonial-review{
    margin-top: 20px;
    line-height: 30px;
}
.testimonials .testimonial-headline img{
    margin-left: 0;
}
.testimonials p,.services .services-headline p{
    width: 80%;
    font-size: 15px;
    line-height: 30px;
}
.testimonials .testimonial-grid .testimonial-review p{
    width: 100%;
} 
.services{
    background: url(../img/bg_home_03.jpg);
    padding-top: 100px;
    margin-top: 100px;
    height: 150vh;
    width: 100%;    
}
.services .services-headline p{
    text-align: center;
    color: #616A72;
}
.services .services-grid{
    background: white;
    height: 100%;
    padding: 30px;
}
.services .services-grid img{
    margin: 10px 0 30px 0;
}
.services .services-grid h1{
    font-family: Playfair Display;
    margin: 10px 0 20px 0;
    font-weight: bold;
    font-size: 80px;
}
.services .services-grid h5{
    text-align: center;
    line-height: 30px;
    color: #616A72;
}
.services .services-grid .button{
    margin: 20px 0 20px 0;
}
.services .col-md-4:nth-child(n){
    margin-top: 30px;
    margin-bottom: 30px;
}
.services .col-md-4:nth-child(2){
    margin:0;
}
.blog .blog-grid{
    position: relative;
}
.blog .blog-grid .blog-content{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    color: white;
    box-shadow: inset 0px -105px 71px -5px rgba(0,0,0,0.75);
    
}
.blog .blog-grid:hover{
    cursor: pointer;
}
.blog .blog-grid .blog-content h4{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
.blog .blog-grid .blog-content a{
    text-decoration: none;
    color: white;
}
.footer{
    margin: 50px auto;
}
.footer img{
    width: 150px;
    height: 50px;
}
.footer p{
    margin-top: 20px;
    line-height: 30px;
}
.footer ul li{
    display: block;
    margin-bottom: 20px;
}
.footer ul li a{
    color: #5E676F;
}
.footer ul li a:hover{
    color: red;
}
.footer .footer-details h4, .footer ul h4{
    margin-bottom: 30px;
    font-weight: bold;
}
.footer .footer-details ul a{
    text-decoration: none;
    color: #5E676F;
}
.footer i{
    margin-right: 15px;
}
.footer .col-md-3:nth-child(3){
    font-size: 150px;
}
.footer .footer-icons a{
    color: #5E676F;
    margin-right: 20px;
}
.brow-main h5, .brow-main h1,.gallery h1,.achievements .achievements-grid h1,.testimonials .testimonial-headline h1,.services .services-headline h1,.side-navbar h5{
    font-family: Playfair Display;
}
.gototop{
    height: 50px;
    position: fixed;
    width: 50px;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    background-color: rgb(240, 155, 207);

}
.gototop i{
    text-decoration: none;
    color: white;
}
.gototop:hover{
    cursor: pointer;
    background-color: grey;
}
@media (min-width:481px) and (max-width:768px){
    .side-navbar{
        width: 60px;
    }
    .side-navbar .slogan p{
        font-size: 13px;
    }
    header{
        margin-left: 50px;
        height: 80vh;
    }
    header .header-menu{
        padding: 40px 0 0 60px;
        display: flex;
        justify-content: space-around;
    }
    header .header-menu .logo{
        width: 150px;
    }
    header .header-menu .info p{
        font-size: 12px;
    }
    header .header-menu .info h3{
        font-size: 18px;
    }
    header .header-content .headline-txt{
        margin: 30px 0;
    }
    header .header-content .headline-txt p{
        font-size: 13px;
        line-height: 20px;
    }
    header .header-content .buttons .headline-btn{
        padding: 10px 20px;
        font-size: 12px;
    }
    .brow-main{
        margin-left: 50px;
    }
    .brow-main p{
        font-size: 15px;
        line-height: 30px;
    }
    .brow-main button{
        margin: 20px 0;
    }
    header2{
        margin-left: 50px;
    }
    header2 .feature .cover .cover1 img{
        height: 350px;
        margin-left: 50px;
    }
    header2 .feature .cover2{
        margin-left: 50px;
        height: 80vh;
    }
    header2 .feature .cover .cover2 .feature-img img{
        width: 40px;
    }
    header2 .feature .cover .cover2 .feature-content h4{
        font-size: 25px;
    }

    header2 .feature .cover .cover2 .row {
        padding-top: 20px;
    }
    header2 .feature .feature-btn {
        margin-top: 0;
    }
    header2 .feature .cover .cover2{
        height: 70vh;
    }
    .gallery{
        margin-left: 50px;
    }
    .gallery .gallery-category .category p{
        font-size: 10px;
    }
    .gallery .gallery-category .button .headline-btn{
        font-size: 8px;
        padding: 10px;
    }
}
@media (min-width:769px) and (max-width:1024px){
    header{
        margin-left: 80px;
        height: 120vh;
    }
    header .header-menu{
        padding: 40px 50px 0 0;
    }
    header .header-menu .logo img{
        width: 150px;
        margin-left: 50px;
    }
    header .header-menu .info p{
        font-size: 13px;
    }
    header .header-menu .info h3{
        font-size: 25px;
    }
    .brow-main,header2 .feature .cover .cover1 img,.testimonials,.footer{
        margin-left: 80px;
    }
    .brow-main p{
        margin-top: 20px;
    }
    .feature .cover .cover1 img{
        height: 400px;
    }
    header2 .feature .cover .cover2{
        margin-left: 80px;
        padding-right: 50px;
        height: 80vh;
    }
    .gallery{
        margin-top: 50px;
        margin-left: 80px;
    }
    .gallery .gallery-category .category p{
        font-size: 13px;
    }
    .img-gallery,.blog{
        padding-left: 80px;
    }
    .side-navbar{
        width: 80px;
    }
    .achievements img{
        height: 90px;
        width: 90px;
    }
    .achievements h1{
        font-size: 40px;
    }
    .services{
        margin-top: 50px;
        padding: 50px 50px 50px 80px;
    }
    .services .services-grid{
        height: 95%;
    }
    .services .services-grid img,.services .services-grid h1,.services .services-grid p,.services .services-grid .button{
        margin: 10px auto;
    }
    .services .services-grid h5{
        font-size: 15px;
    }
    .blog .blog-grid .blog-content h4{
        font-size: 25px;
    }
    .blog .blog-grid .blog-content p{
        font-size: 15px;
    }
    .overlay{
        padding: 0 50px 20px 80px;
    }
    .overlay .overlay-menu{
    margin-top: 20px;
    }
    .hover-menu{
        margin-bottom: 0;
    }
    .hover-footer{
        margin: 0;
    }
} 